<% include ../partials/header %>
<link rel="stylesheet" href="posts/index.css">
<link rel="stylesheet" href="posts/index_2.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<% if (login) { %>
    <% var firstName = user.firstName %>
    <p>Hello <span class="text-muted"><%= user.firstName %></span></p>
<% } else { %>
    <p>Hello <span class="text-muted">guest</span>. Would you like to <a style="text-decoration: none;" href="/user/register">register</a> or <a style="text-decoration: none;" href="/user/login">login</a>?</p>
<% } %>

<% if (posts) { %>
<main>
    <section class="news-feed">
    <% posts.reverse().forEach(post => { %>
        <article class="post">
            <div class="post__header">
                <img class="avatar" src="http://via.placeholder.com/50x50">
                <div class="post__info">
                <a href="/user/<%= post.creator._id %>/profile"><%= post.creator.firstName + " " + post.creator.lastName %></a>
                <span><a href="/post/<%= post._id %>">Created: <%= post.time.getDate() + "." + post.time.getMonth() + "." + post.time.getFullYear() + " - " + post.time.getHours() + ":" + post.time.getMinutes() %></a></span>
                </div>        
            </div>
            <!-- <div class="post__content">
                <img src="http://via.placeholder.com/490x400">
            </div> -->
            <div class="post__engage">
                <% if(user.liked.find(o => o.equals(post._id))) { %>
                    <p><%= post.likes %> Likes</p>
                <% } else { %>
                    <a href="/post/<%= post._id %>/like">Like <%= post.likes %></a>
                <% } %>
            </div>
            <% if (post.content.length > 30) { %>
                <%= post.content.substring(0, 30) %>
            <% } else { %>
                <%= post.content %>
            <% } %>
        </article>
    <% }) %>
    </section>


    <!-- NEED TO FIX: chat going down without an overflow property -->
    <aside class="services">
        <div id="chat" class="chat">
            <h4>Global Chat</h4>
            <div id="users"></div>
            <div id="output"></div>
            <div class="input">
                <input type="text" id="message" placholder="Message">
                <button id="send">Send</button>
            </div>
        </div>
    </aside>
</main>
<% } %>
    
<script>
    // const socket = io.connect("http://localhost:3000");
    const socket = io();
    const name = "<%= firstName %>";

    const message = document.getElementById("message");
    const button = document.getElementById("send");
    const output = document.getElementById("output");
    const users = document.getElementById("users");
    const chat = document.getElementById("chat");

    button.addEventListener("click", () => {
        if(message.value) {
            socket.emit("chat", {
                message: message.value,
                name: name
            })
            message.value = "";
        }
    })

    socket.on("chat", data => {
        output.innerHTML += `<p><strong>${data.name}</strong> - ${data.message}</p>`
        chat.scrollTop = chat.scrollHeight;
    })

    socket.on("newUser", data => {
        socket.emit("newUser", { name: name, socketID: data.socketID })
    })

    socket.on("updateUserList", data => {
        let string = '<strong>Users Connected</strong>:';
        for(var i = 0; i < data.length; i++) {
            string += `<p>${data[i].name}</p>`;
        }
        users.innerHTML = string;
    })

    socket.on("userDisconnected", data => {
        console.log("disconnected user")
    })
</script>

<% include ../partials/footer %>