<% include ../partials/header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<% if (login) { %>
    <% var firstName = user.firstName %>
    <p>Hello <span class="text-muted"><%= user.firstName %></span></p>
<% } else { %>
    <p>Hello <span class="text-muted">guest</span>. Would you like to <a style="text-decoration: none;" href="/user/register">register</a> or <a style="text-decoration: none;" href="/user/login">login</a>?</p>
<% } %>

<% if (friendsOnline) { %>
    <h1>Friends Online</h1>
    <% friendsOnline.forEach(friend => { %>
        <a href="/user/<%= friend._id %>/profile"><%= friend.firstName + " " + friend.lastName %></a>
    <% }) %>
<% } %>

<% if (posts) { %>
    <ul class="list-unstyled">
        <% posts.reverse().forEach(post => { %>
        <li class="media" style="border: 1px solid #09A9FF">
            <div class="media-body">
            <h5 class="mt-0 mb-1"><a style="text-decoration: none" href="/user/<%= post.creator._id %>/profile"><%= post.creator.firstName + " " + post.creator.lastName %></a></h5>
            <a style="text-decoration: none" href="/post/<%=post._id%>">Created: <%= post.time.getDate() + "." + post.time.getMonth() + "." + post.time.getFullYear() + " - " + post.time.getHours() + ":" + post.time.getMinutes() %></a>
            <br />
            <% if (post.content.length > 30) { %>
                <%= post.content.substring(0, 30) %>
            <% } else { %>
                <%= post.content %>
            <% } %>
            </div>
        </li>
        <% }) %>
    </ul>
<% } %>

<div id="chat" class="chat">
    <h4>Global Chat</h4>
    <div id="users"></div>
    <div id="output"></div>
    <div class="input">
        <input type="text" id="message" placholder="Message">
        <button id="send">Send</button>
    </div>
</div>
    
<script>
    // const socket = io.connect("http://localhost:3000");
    const socket = io();
    const name = "<%= firstName %>";

    const message = document.getElementById("message");
    const button = document.getElementById("send");
    const output = document.getElementById("output");
    const users = document.getElementById("users");
    const chat = document.getElementById("chat");

    button.addEventListener("click", () => {
        if(message.value) {
            socket.emit("chat", {
                message: message.value,
                name: name
            })
            message.value = "";
        }
    })

    socket.on("chat", data => {
        output.innerHTML += `<p><strong>${data.name}</strong> - ${data.message}</p>`
        chat.scrollTop = chat.scrollHeight;
    })

    socket.on("newUser", data => {
        socket.emit("newUser", { name: name, socketID: data.socketID })
    })

    socket.on("updateUserList", data => {
        let string = '';
        for(var i = 0; i < data.length; i++) {
            string += `<p>${data[i].name}</p>`
        }
        users.innerHTML = string;
    })

    socket.on("userDisconnected", data => {
        console.log("disconnected user")
    })
</script>

<% include ../partials/footer %>